<section class="footer-social">
    <a href="http://twitter.com/matthewdiiulio" target="_blank" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>&nbsp;
    <a href="https://www.snapchat.com/add/zdiiulio" target="_blank" title="Snapchat"><i class="fa fa-2x fa-fw fa-snapchat"></i> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="https://medium.com/@matthewdiiulio" target="_blank" title="Medium"><i class="fa fa-2x fa-fw fa-medium"></i> <span class="hidden">GitHub</span></a>&nbsp;
    <a href="{{@blog.url}}/rss/" target="_blank" title="RSS"><i class="fa fa-2x fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
</section>
